$colors: (
  "bg": #1B4571,
  "accent": #BF2051
);

.App {
  // text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header {
  float: right !important;
  align-self: flex-end;
}

#results-switch {
  user-select: none;
}

.form-row{
  flex-wrap: nowrap;
  // align-items: center;
  justify-content: center;
}

.btn-col, .form-lable-col { //dont apply to other col
  // margin-top: 1rem;
  padding: 0px;
  width: fit-content !important;
  max-width: fit-content !important;
  align-items: center;
  justify-content: center;
}


//BOOTSTRAP OVERRIDE
.btn-primary{
  background-color: map-get($map: $colors, $key: accent);
  border-color: map-get($map: $colors, $key: accent);
  &:hover {
    background-color: #a41b44;
    border-color: #a41b44;
  }
  &:not(:disabled):not(:disabled):active{
    background-color: #92173c !important;
    border-color: #92173c !important;
  }
}