$colors: (
  "bg": #1B4571,
  "accent": #BF2051
);

.App {
  // text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header {
  float: right !important;
  align-self: flex-end;
}

.logo {
  margin-bottom: 1.5rem;
  border-radius: 10px;
}

.results-switch {
  user-select: none;
  margin-right: 2rem;
}

.url-form {
  width: 60vw;
  margin-bottom: 1rem;
}

.form-row{
  flex-wrap: nowrap;
  // align-items: center;
  justify-content: center;
}

.btn-col, .form-lable-col { //dont apply to other col
  // margin-top: 1rem;
  padding: 0px;
  width: fit-content !important;
  max-width: fit-content !important;
  align-items: center;
  justify-content: center;
}

.results-container {
  width: 60vw;
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  column-gap: 0.5rem;
}

// .results-item {
//   width: max-content;
//   flex-wrap: wrap;
//   flex-direction: column;
// }

.vendor-name {
  font-size: 14pt;
  margin-bottom: 0.5rem;
}

.vendor-detail {
  // font-size: 11pt;
  margin-bottom: 0.25rem;
}

//BOOTSTRAP OVERRIDE
.btn-primary{
  background-color: map-get($map: $colors, $key: accent);
  border-color: map-get($map: $colors, $key: accent);
  &:hover {
    background-color: #a41b44;
    border-color: #a41b44;
  }
  &:not(:disabled):not(:disabled):active{
    background-color: #92173c !important;
    border-color: #92173c !important;
  }
}

.nav-tabs .nav-link {
  color: map-get($map: $colors, $key: accent) !important;
}

.nav-tabs .nav-link.disabled, .nav-tabs .nav-link:disabled {
  color: gray !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #70122e !important;
}

//MOBILE MEDIA RULE
@media (min-width: 375px) and (max-width: 450px) {
  .App{
    padding: 1rem
  }

  .results-switch {
    margin-right: 0;
  }

  .results-container {
    width: 100%;
    column-gap: 0.25rem;
  }

  .logo {
    width: 100%;
  }

  .url-form {
    width: 100%;
  }

  .col-mobile {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .form-row {
    flex-wrap: wrap;
  }
}